src/home_dashboard.json
[{"id":"8555e392.3f172","type":"tab","label":"Power meter"},{"id":"73df801.94f298","type":"ui_gauge","z":"8555e392.3f172","name":"Gas_gauge","group":"52edfda4.310304","order":4,"width":"3","height":"2","gtype":"wave","title":"Gas, m3","label":"m3","format":"{{value}}","min":0,"max":"10","colors":["#0080ff","#008080","#008080"],"x":913.8636474609375,"y":1093.7359619140625,"wires":[]},{"id":"93e17d15.343b4","type":"ui_gauge","z":"8555e392.3f172","name":"Water_gauge","group":"52edfda4.310304","order":3,"width":"3","height":"2","gtype":"wave","title":"Water, L","label":"litres","format":"{{value}}","min":0,"max":"2000","colors":["#0080ff","#008080","#008080"],"x":925.1943359375,"y":627.7435302734375,"wires":[]},{"id":"32e53b40.0a7a94","type":"ui_chart","z":"8555e392.3f172","name":"chart T","group":"7463a992.912048","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#00ae00","#aec7e8","#ff7f0e","#0080ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":899.75,"y":95.75,"wires":[[],[]]},{"id":"78cdddd0.63d444","type":"ui_gauge","z":"8555e392.3f172","name":"Electricity Instant","group":"c9d8807d.53653","order":7,"width":0,"height":0,"gtype":"gage","title":"Instant","label":"kW/h","format":"{{value}}","min":0,"max":"4","colors":["#ff8800","#e68600","#fa3a00"],"x":929.2499885559082,"y":225.4999941587448,"wires":[]},{"id":"d01204e9.4c6598","type":"ui_gauge","z":"8555e392.3f172","name":"Electricity Today","group":"52edfda4.310304","order":6,"width":"3","height":"3","gtype":"gage","title":"Electricity Today","label":"kW","format":"{{value}}","min":0,"max":"14","colors":["#ff8800","#e68600","#fa3a00"],"x":923.7500152587891,"y":451.7500066757202,"wires":[]},{"id":"e203f927.e7dc38","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":4,"width":0,"height":0,"name":"Water_txt","label":"Water","format":"{{msg.payload}} <font color=gray>Litres</font>","layout":"row-spread","x":1748.75,"y":275.25,"wires":[]},{"id":"1acfd67d.88526a","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":5,"width":0,"height":0,"name":"Gas_txt","label":"Gas","format":"{{msg.payload}} <font color=gray>m&sup3;</font>","layout":"row-spread","x":1746.5,"y":356,"wires":[]},{"id":"af73bdca.d179","type":"ui_text","z":"8555e392.3f172","group":"7463a992.912048","order":1,"width":0,"height":0,"name":"Trend Temperature","label":"Temperature","format":"{{msg.payload | number:2}} <font color=gray>&deg;C</font>","layout":"row-spread","x":928.7500152587891,"y":47.25,"wires":[]},{"id":"819503f5.2541b","type":"ui_text","z":"8555e392.3f172","group":"3d5ca93b.8862a6","order":1,"width":0,"height":0,"name":"Trend Electricity","label":"Electricity","format":"{{msg.payload}} <font color=gray>kW/h</font>","layout":"row-spread","x":919.4999885559082,"y":177.4999941587448,"wires":[]},{"id":"b6476400.b52ca8","type":"ui_chart","z":"8555e392.3f172","name":"chart E","group":"3d5ca93b.8862a6","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff8000","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":902.75,"y":320.25,"wires":[[],[]]},{"id":"56534c48.9f5f54","type":"ui_chart","z":"8555e392.3f172","name":"chart W","group":"be496776.65b0f8","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#0080ff","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":905.75,"y":673.25,"wires":[[],[]]},{"id":"a0ba6f94.f64e2","type":"ui_chart","z":"8555e392.3f172","name":"chart G","group":"2b391743.551808","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#20dfd6","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":905.5,"y":1139,"wires":[[],[]]},{"id":"58e474c6.faf21c","type":"ui_text","z":"8555e392.3f172","group":"2b391743.551808","order":1,"width":0,"height":0,"name":"Trend Gas","label":"Gas","format":"{{msg.payload}} <font color=gray>m&sup3;</font>","layout":"row-spread","x":914.5,"y":1050,"wires":[]},{"id":"d8f10102.9f629","type":"ui_text","z":"8555e392.3f172","group":"be496776.65b0f8","order":1,"width":"0","height":"0","name":"Trend Water","label":"Water","format":"{{msg.payload}} <font color=gray>Litres</font>","layout":"row-spread","x":915.75,"y":580.25,"wires":[]},{"id":"17d6baa8.f2ed35","type":"function","z":"8555e392.3f172","name":"Electricity Eur","func":"// Price per kW/h = 0.24 eur\nvar temp_eur = parseFloat(global.get('electricity_eur')||0);\nvar electricity_eur = (msg.payload * 0.24).toFixed(2);\nnode.status({fill:\"yellow\",shape:\"ring\",text:electricity_eur});\n\nif( electricity_eur != temp_eur )\n{\n    global.set(\"electricity_eur\", electricity_eur);\n    msg.payload = electricity_eur;\n    node.status({fill:\"yellow\",shape:\"dot\",text:msg.payload });\n    return msg;\n}\n","outputs":1,"noerr":0,"x":753.2500076293945,"y":787.2500114440918,"wires":[["ec6ac45d.41dbc8","fe2a8891.5e65a8","671a30d4.f412b"]]},{"id":"bbfe9109.a12ca","type":"function","z":"8555e392.3f172","name":"Water Eur","func":"// Price per litre = 0.0011 eur\nvar temp_eur = parseFloat(global.get('water_eur')||0);\nvar water_eur = (msg.payload * 0.0011).toFixed(2);\nnode.status({fill:\"blue\",shape:\"ring\",text:water_eur});\n\nif( water_eur != temp_eur )\n{\n    global.set(\"water_eur\", water_eur);\n    msg.payload = water_eur;\n    node.status({fill:\"blue\",shape:\"dot\",text:msg.payload });\n    return msg;\n}\n","outputs":1,"noerr":0,"x":737.2500076293945,"y":849.2500114440918,"wires":[["ec6ac45d.41dbc8","fe2a8891.5e65a8","671a30d4.f412b"]]},{"id":"e0c44a2.b129bb8","type":"function","z":"8555e392.3f172","name":"Gas Eur","func":"// Price per m3 = 0.80025 eur\nvar temp_eur = parseFloat(global.get('gas_eur')||0);\nvar gas_eur = (msg.payload * 0.80025).toFixed(2);\nnode.status({fill:\"grey\",shape:\"ring\",text:gas_eur});\n\nif( gas_eur != temp_eur )\n{\n    global.set(\"gas_eur\", gas_eur);\n    msg.payload = gas_eur;\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload });\n    return msg;\n}\n","outputs":1,"noerr":0,"x":736.25,"y":907.25,"wires":[["ec6ac45d.41dbc8","fe2a8891.5e65a8","671a30d4.f412b"]]},{"id":"ec6ac45d.41dbc8","type":"ui_chart","z":"8555e392.3f172","name":"Pie Euro","group":"702d7369.3322dc","order":4,"width":"0","height":"0","label":"","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff8000","#0080ff","#00ffff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1166.25,"y":848.25,"wires":[[],[]]},{"id":"fe2a8891.5e65a8","type":"function","z":"8555e392.3f172","name":"Euro today","func":"// The links to this node are to trigger calculation\n\n// initialise vars to 0 if do not exist already\nvar electricity_eur = parseFloat(global.get('electricity_eur')||0);\nvar water_eur = parseFloat(global.get('water_eur')||0);\nvar gas_eur = parseFloat(global.get('gas_eur')||0);\n\nvar total_eur = electricity_eur + water_eur + gas_eur;\nmsg.payload = total_eur.toFixed(2);\nmsg.topic = \"power_meter/total\";\nnode.status({fill:\"red\",shape:\"dot\",text:msg.payload });\n//var newMsg = { payload: \"E:\" + electricity_eur + \"€\" + \"    W:\" + water_eur + \"€    G:\" + gas_eur + \"€\" };\nvar newMsg = { \"E\": electricity_eur, \"W\": water_eur, \"G\": gas_eur};\nreturn [msg, newMsg];\n","outputs":"2","noerr":0,"x":1175.75,"y":787.25,"wires":[["f6862ae2.ba9578","51da65f6.2c2dbc","8039449.70d9db8","671a30d4.f412b"],["fb959e8c.857fd"]]},{"id":"f6862ae2.ba9578","type":"ui_text","z":"8555e392.3f172","group":"702d7369.3322dc","order":5,"width":0,"height":0,"name":"Euro today","label":"Total: ","format":"{{msg.payload}} &euro;","layout":"row-center","x":1411.75,"y":735.75,"wires":[]},{"id":"84920b34.1d4bc8","type":"function","z":"8555e392.3f172","name":"Electricity kwh today","func":"// initialise vars to 0 if doesn't exist already\nvar electricity_kwh = parseFloat(global.get('electricity_kwh')||0);\nelectricity_kwh += 0.001; // 1 impulse = 1 watt\n\nif( msg.payload == \"Reset\" )\n{\n    electricity_kwh = 0.0;\n    msg.topic = \"power_meter/electricity\";\n}\n\nglobal.set(\"electricity_kwh\", electricity_kwh);\nmsg.payload = electricity_kwh.toFixed(3);\nnode.status({fill:\"yellow\",shape:\"dot\",text:msg.payload });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":507.5,"y":429.5,"wires":[["17d6baa8.f2ed35","d01204e9.4c6598"]]},{"id":"d09d2412.238458","type":"function","z":"8555e392.3f172","name":"Temp, Date and Time","func":"function addZero(x, n) {\n    while (x.toString().length < n) { x = \"0\" + x; }\n    return x;\n}\n\nvar dt = new Date();\n\nvar h = addZero(dt.getHours(), 2);\nvar m = addZero(dt.getMinutes(), 2);\nvar s = addZero(dt.getSeconds(), 2);\n\nvar temp = parseFloat(global.get('temperature')||0);\n\ns_dt = dt.toDateString();\ns_dt = s_dt.substring(0, s_dt.length - 4); // remove year\n\nstr = \"<font color=gray>\" + s_dt + \" |  </font>\" + h + \":\" + m;\n\n//str = \"<font color=#008300>\" + dt.toDateString() + \" |  </font>\" + h + \":\" + m;\n//msg.payload = dt.toDateString() + \" |  \" + h + \":\" + m;\n\nstr1 = s_dt + \" | \" + h + \":\" + m;\n\nmsg.payload = str;\nmsg.temperature = temp;\nmsg.date = str1;\n\nreturn [msg, msg, msg, msg];\n","outputs":"4","noerr":0,"x":463.25006103515625,"y":1323,"wires":[["20563228.5cbe3e"],["acd898f9.bd9328"],["de520b48.5039b8"],[]]},{"id":"fc6badec.364fc","type":"inject","z":"8555e392.3f172","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":138.25001525878906,"y":1322,"wires":[["d09d2412.238458"]]},{"id":"20563228.5cbe3e","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":1,"width":0,"height":0,"name":"DTime 1","label":"{{msg.temperature.toFixed(2)}} <font color=lightgray>&deg;C</font>","format":"{{msg.payload}}","layout":"row-spread","x":742.2500610351562,"y":1274,"wires":[]},{"id":"acd898f9.bd9328","type":"ui_text","z":"8555e392.3f172","group":"52edfda4.310304","order":1,"width":0,"height":0,"name":"DTime 2","label":"{{msg.temperature.toFixed(2)}} &deg;C","format":"","layout":"row-spread","x":740.2500495910645,"y":1321.0000162124634,"wires":[]},{"id":"671a30d4.f412b","type":"ui_chart","z":"8555e392.3f172","name":"Euro chart","group":"702d7369.3322dc","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#6f6f6f","#ff8000","#0080ff","#00ffff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1175,"y":904.5,"wires":[[],[]]},{"id":"fb959e8c.857fd","type":"ui_text","z":"8555e392.3f172","group":"702d7369.3322dc","order":3,"width":0,"height":0,"name":"Euro split","label":"","format":"<font color=#ff8000>E: </font>{{msg.E}} &euro;&nbsp;&nbsp;&nbsp; <font color=#0080ff>W: </font>{{msg.W}}  &euro;&nbsp;&nbsp;&nbsp; <font color=#20dfd6>G:</font> {{msg.G}}  &euro;","layout":"row-center","x":1401,"y":915.75,"wires":[]},{"id":"3bd33106.c2937e","type":"ui_gauge","z":"8555e392.3f172","name":"Electricity Instant 1","group":"52edfda4.310304","order":5,"width":"3","height":"3","gtype":"gage","title":"Electricity","label":"kW/h","format":"{{value}}","min":0,"max":"4","colors":["#ff8800","#e68600","#fa3a00"],"x":930.2499885559082,"y":269.9999941587448,"wires":[]},{"id":"51da65f6.2c2dbc","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":8,"width":0,"height":0,"name":"Euro today 1","label":"Total cost","format":"{{msg.payload}} <font color=gray>&euro;</font>","layout":"row-spread","x":1410.5,"y":789.25,"wires":[]},{"id":"1d4e22dc.b533dd","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":6,"width":0,"height":0,"name":"Electricity today txt","label":"Electricity","format":"{{msg.payload}} <font color=gray>kW</font>","layout":"row-spread","x":1781.75,"y":198.25,"wires":[]},{"id":"de520b48.5039b8","type":"ui_text","z":"8555e392.3f172","group":"702d7369.3322dc","order":1,"width":0,"height":0,"name":"DTime 3","label":"{{msg.temperature.toFixed(2)}} <font color=lightgray>&deg;C</font>","format":"{{msg.payload}}","layout":"row-spread","x":743.2500190734863,"y":1370.0000162124634,"wires":[]},{"id":"8039449.70d9db8","type":"ui_text","z":"8555e392.3f172","group":"52edfda4.310304","order":7,"width":0,"height":0,"name":"Euro today 2","label":"Total cost","format":"{{msg.payload}} <font color=gray>&euro;</font>","layout":"row-spread","x":1411.25,"y":843.5,"wires":[]},{"id":"b5d6c68f.148b98","type":"ui_template","z":"8555e392.3f172","group":"d0d8726.cc6859","name":"weather","order":7,"width":"0","height":"0","format":"<iframe name=\"forecast_embed_valkenburg\" style=\"background: #c0c0c0;\" id=\"forecast_embed_valkenburg\" type=\"text/html\" frameborder=\"0\" height=\"245\" width=\"100%\" src=\"http://forecast.io/embed/#lat=52.182267&lon=4.429516&name=Valkenburg (ZH)&color=#e0e0e0&font=Georgia&units=si\"> </iframe>","storeOutMessages":false,"fwdInMessages":false,"x":423.25,"y":1179,"wires":[[]]},{"id":"67bfdb3f.58b234","type":"inject","z":"8555e392.3f172","name":"trigger 1","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":139.25,"y":1178,"wires":[["b5d6c68f.148b98"]]},{"id":"f6e431b4.c7f52","type":"mqtt in","z":"8555e392.3f172","name":"Electricity","topic":"power_meter/electricity","qos":"2","broker":"dffc2a07.6d2f28","x":142,"y":379,"wires":[["9181f320.83501","1af8f6c9.17f699"]]},{"id":"7f31e5c3.384d8c","type":"mqtt in","z":"8555e392.3f172","name":"Temperature","topic":"power_meter/temperature","qos":"2","broker":"dffc2a07.6d2f28","x":153,"y":115,"wires":[["f5968575.e02c88"]]},{"id":"9181f320.83501","type":"function","z":"8555e392.3f172","name":"Electricity","func":"msg.payload = (3.6/parseFloat(msg.payload)).toFixed(3);\nnode.status({fill:\"yellow\",shape:\"dot\",text:msg.payload });\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":261,"wires":[["84920b34.1d4bc8","819503f5.2541b","78cdddd0.63d444","3bd33106.c2937e","9d7a6375.ab632"]]},{"id":"b8d5ebe7.1b8cf8","type":"inject","z":"8555e392.3f172","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 00 * * *","once":false,"x":138,"y":658,"wires":[["acd61ad2.2b4d98"]]},{"id":"acd61ad2.2b4d98","type":"function","z":"8555e392.3f172","name":"Reset variables","func":"msg.payload = \"Reset\";\nreturn msg;","outputs":1,"noerr":0,"x":176,"y":771,"wires":[["2d20cd7.f78a832","1a26d0d8.d9f82f","84920b34.1d4bc8"]]},{"id":"1a26d0d8.d9f82f","type":"function","z":"8555e392.3f172","name":"Water ltr today","func":"// initialise vars to 0 if doesn't exist already\nvar water_ltr = parseInt(global.get('water_ltr')||0);\nwater_ltr += 1; // 1 impulse = 1 litre\n\nif( msg.payload == \"Reset\" )\n{\n    water_ltr = 0;\n    msg.topic = \"power_meter/water\";\n}\n\nglobal.set(\"water_ltr\", water_ltr);\nmsg.payload = water_ltr;\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":442,"y":562,"wires":[["bbfe9109.a12ca","d8f10102.9f629","93e17d15.343b4"]]},{"id":"2d20cd7.f78a832","type":"function","z":"8555e392.3f172","name":"Gas m3 today","func":"// initialise vars to 0 if doesn't exist already\nvar gas_m3 = parseFloat(global.get('gas_m3')||0);\ngas_m3 += 0.01; // 1 impulse = 10 litre\n\nif( msg.payload == \"Reset\" )\n{\n    gas_m3 = 0.0;\n    msg.topic = \"power_meter/gas\";\n}\n\nglobal.set(\"gas_m3\", gas_m3);\nmsg.payload = gas_m3.toFixed(2);\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.payload });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":443,"y":1004,"wires":[["e0c44a2.b129bb8","58e474c6.faf21c","73df801.94f298"]]},{"id":"5e560f69.e6d86","type":"mqtt in","z":"8555e392.3f172","name":"Water","topic":"power_meter/water","qos":"2","broker":"dffc2a07.6d2f28","x":133,"y":560,"wires":[["1a26d0d8.d9f82f","51206351.8a55cc"]]},{"id":"bc8b5cbb.a1719","type":"mqtt in","z":"8555e392.3f172","name":"Gas","topic":"power_meter/gas","qos":"2","broker":"dffc2a07.6d2f28","x":127,"y":1001,"wires":[["2d20cd7.f78a832","b3c67a5d.8fe188"]]},{"id":"e9969a99.0fdb28","type":"comment","z":"8555e392.3f172","name":"Read me","info":"Data is sent to update charts and labels only if EUR values changed.\nAlthough cost only increases, the comparison is not \">\"\nbut '!=' because at midnight value is reset to 0.","x":732,"y":739,"wires":[]},{"id":"f5968575.e02c88","type":"function","z":"8555e392.3f172","name":"Temperature","func":"node.status({fill:\"green\",shape:\"ring\",text:msg.payload });\n\nvar temp_val = parseFloat(global.get('temperature')||0);\ntemp_val = temp_val.toFixed(2); // not needed?\nvar temperature = parseFloat(msg.payload);\ntemperature = temperature.toFixed(2);\n\nif( temperature != temp_val )\n{\n    node.status({fill:\"green\",shape:\"dot\",text:temperature });\n    global.set(\"temperature\", temperature);\n    msg.payload = temperature;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":431,"y":117,"wires":[["af73bdca.d179","32e53b40.0a7a94","9d7a6375.ab632"]]},{"id":"80427346.9942c","type":"ui_button","z":"8555e392.3f172","name":"Reset","group":"c9d8807d.53653","order":2,"width":"0","height":"0","label":"","color":"lightgray","bgcolor":"gray","icon":"timer","payload":"Reset","payloadType":"str","topic":"","x":1198,"y":105,"wires":[["7dd016cb.b5d368","d6e309a6.e06188","e8d13fd7.decb2","4eb0fe85.940da"]]},{"id":"61d4f9af.52ede8","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":3,"width":0,"height":0,"name":"Date","label":"Since:","format":"{{msg.payload}}","layout":"row-spread","x":1742,"y":107,"wires":[]},{"id":"1af8f6c9.17f699","type":"link out","z":"8555e392.3f172","name":"Electricity","links":["61e88178.a4ce3"],"x":303,"y":377,"wires":[]},{"id":"7dd016cb.b5d368","type":"function","z":"8555e392.3f172","name":"Date and Time","func":"function addZero(x, n) {\n    while (x.toString().length < n) { x = \"0\" + x; }\n    return x;\n}\n\nvar dt = new Date();\n\nvar h = addZero(dt.getHours(), 2);\nvar m = addZero(dt.getMinutes(), 2);\nvar s = addZero(dt.getSeconds(), 2);\n\ns_dt = dt.toDateString();\ns_dt = s_dt.substring(0, s_dt.length - 4); // remove year\n\nstr = \"<font color=gray>\" + s_dt + \" |  </font>\" + h + \":\" + m;\nmsg.payload = str;\n\ntxt = \"Since \" + s_dt + \" | \" + h + \":\" + m;\nnode.status({fill:\"yellow\",shape:\"dot\",text:txt });\n\nreturn msg;\n","outputs":"1","noerr":0,"x":1444,"y":106,"wires":[["61d4f9af.52ede8"]]},{"id":"d6e309a6.e06188","type":"function","z":"8555e392.3f172","name":"Electricity kwh count","func":"// initialise vars to 0 if doesn't exist already\nvar c_electricity_kwh = parseFloat(global.get('c_electricity_kwh')||0);\nc_electricity_kwh += 0.001; // 1 impulse = 1 watt\n\nif( msg.payload == \"Reset\" )\n{\n    c_electricity_kwh = 0.0;\n    msg.topic = \"c_electricity\";\n}\n\nglobal.set(\"c_electricity_kwh\", c_electricity_kwh);\nmsg.payload = c_electricity_kwh.toFixed(3);\nnode.status({fill:\"yellow\",shape:\"dot\",text:msg.payload });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1433,"y":201,"wires":[["1d4e22dc.b533dd"]]},{"id":"61e88178.a4ce3","type":"link in","z":"8555e392.3f172","name":"Electricity","links":["1af8f6c9.17f699"],"x":1155,"y":199,"wires":[["d6e309a6.e06188"]]},{"id":"e8d13fd7.decb2","type":"function","z":"8555e392.3f172","name":"Water ltrcount","func":"// initialise vars to 0 if doesn't exist already\nvar c_water_ltr = parseInt(global.get('c_water_ltr')||0);\nc_water_ltr += 1; // 1 impulse = 1 litre\n\nif( msg.payload == \"Reset\" )\n{\n    c_water_ltr = 0;\n    msg.topic = \"c_water\";\n}\n\nglobal.set(\"c_water_ltr\", c_water_ltr);\nmsg.payload = c_water_ltr;\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1396,"y":281,"wires":[["e203f927.e7dc38"]]},{"id":"9b74002f.bfd5e","type":"link in","z":"8555e392.3f172","name":"Water","links":["51206351.8a55cc"],"x":1160,"y":287,"wires":[["e8d13fd7.decb2"]]},{"id":"51206351.8a55cc","type":"link out","z":"8555e392.3f172","name":"Water","links":["9b74002f.bfd5e"],"x":302,"y":512,"wires":[]},{"id":"b3c67a5d.8fe188","type":"link out","z":"8555e392.3f172","name":"Gas","links":["7bba5000.37ff4"],"x":266,"y":954,"wires":[]},{"id":"4eb0fe85.940da","type":"function","z":"8555e392.3f172","name":"Gas m3 count","func":"// initialise vars to 0 if doesn't exist already\nvar c_gas_m3 = parseFloat(global.get('c_gas_m3')||0);\nc_gas_m3 += 0.01; // 1 impulse = 10 litre\n\nif( msg.payload == \"Reset\" )\n{\n    c_gas_m3 = 0.0;\n    msg.topic = \"c_gas\";\n}\n\nglobal.set(\"c_gas_m3\", c_gas_m3);\nmsg.payload = c_gas_m3.toFixed(2);\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.payload });\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1366,"y":362,"wires":[["1acfd67d.88526a"]]},{"id":"7bba5000.37ff4","type":"link in","z":"8555e392.3f172","name":"Gas","links":["b3c67a5d.8fe188"],"x":1161,"y":361,"wires":[["4eb0fe85.940da"]]},{"id":"9d7a6375.ab632","type":"function","z":"8555e392.3f172","name":"Log Function","func":"// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":486,"y":35,"wires":[["907b7bfa.d389b8"]]},{"id":"907b7bfa.d389b8","type":"ui_template","z":"8555e392.3f172","group":"d1c9533e.c2a0f","name":"Log Function UI","order":1,"width":"6","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"x":666,"y":36,"wires":[[]]},{"id":"fe902f81.c8694","type":"comment","z":"8555e392.3f172","name":"Log UI idea","info":"","x":301,"y":35,"wires":[]},{"id":"1c1e09ae.70e846","type":"comment","z":"8555e392.3f172","name":"Reset measuring","info":"","x":1224,"y":46,"wires":[]},{"id":"92052335.c38cb","type":"ui_template","z":"8555e392.3f172","group":"52edfda4.310304","name":"Clock","order":2,"width":"0","height":"0","format":"<script id=\"clockScript\" type=\"text/javascript\">\n    var clockInterval;\n\n    $(function () {\n        $('#clockScript').parent().hide();\n        \n        if(clockInterval) return;\n        \n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p style=\"font-size:18px\"/>');\n        p[0].style.color = '#e9e9e9';\n\n        div.append(p);\n        div[0].style.margin = '5px 5px 5px auto';\n        \n        function displayTime() {\n            p.text(getTime()); \n//            p.text(new Date().toLocaleString()); \n        }\n        \n        toolbar.append(div);\n        \n        clockInterval = setInterval(displayTime, 1000);\n    });\n    \n    function addZero(x, n) {\n        while (x.toString().length < n) { x = \"0\" + x; }\n        return x;\n    }\n\n    function getTime() {\n        var dt = new Date();\n        \n        var h = addZero(dt.getHours(), 2);\n        var m = addZero(dt.getMinutes(), 2);\n        var s = addZero(dt.getSeconds(), 2);\n        \n        s_dt = dt.toDateString();\n        s_dt = s_dt.substring(0, s_dt.length - 4); // remove year\n\n        str1 = s_dt + \" | \" + h + \":\" + m;\n        return str1;\n    }\n</script>\n","storeOutMessages":false,"fwdInMessages":true,"x":463,"y":1417,"wires":[[]]},{"id":"52edfda4.310304","type":"ui_group","z":"","name":"Today","tab":"a2886a19.df6088","order":1,"disp":false,"width":"6"},{"id":"7463a992.912048","type":"ui_group","z":"","name":"Temperature","tab":"ed40e1c2.a534f","order":2,"disp":false,"width":"6"},{"id":"c9d8807d.53653","type":"ui_group","z":"","name":"info","tab":"91113825.71eb68","order":1,"disp":false,"width":"6"},{"id":"3d5ca93b.8862a6","type":"ui_group","z":"","name":"Electricity","tab":"ed40e1c2.a534f","order":3,"disp":false,"width":"6"},{"id":"be496776.65b0f8","type":"ui_group","z":"","name":"Water","tab":"ed40e1c2.a534f","order":4,"disp":false,"width":"6"},{"id":"2b391743.551808","type":"ui_group","z":"","name":"Gas","tab":"ed40e1c2.a534f","order":5,"disp":false,"width":"6"},{"id":"702d7369.3322dc","type":"ui_group","z":"","name":"Euro","tab":"710ec233.83203c","order":1,"disp":false,"width":"6"},{"id":"d0d8726.cc6859","type":"ui_group","z":"","name":"Weather 1","tab":"b3cb8fe2.11beb","order":1,"disp":false,"width":"12"},{"id":"dffc2a07.6d2f28","type":"mqtt-broker","z":"","broker":"192.168.2.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"d1c9533e.c2a0f","type":"ui_group","z":"","name":"Log","tab":"bf7fa99d.bbf3e8","disp":true,"width":"6"},{"id":"a2886a19.df6088","type":"ui_tab","z":"","name":"Today","icon":"account_balance","order":1},{"id":"ed40e1c2.a534f","type":"ui_tab","z":"","name":"Trend","icon":"timeline","order":3},{"id":"91113825.71eb68","type":"ui_tab","z":"","name":"Watcher","icon":"timer","order":4},{"id":"710ec233.83203c","type":"ui_tab","z":"","name":"Cost","icon":"euro_symbol","order":2},{"id":"b3cb8fe2.11beb","type":"ui_tab","z":"","name":"Weather","icon":"cloud","order":5},{"id":"bf7fa99d.bbf3e8","type":"ui_tab","z":"","name":"Log ","icon":"format_align_left","order":6}]
