src/home_dashboard.json
[{"id":"73df801.94f298","type":"ui_gauge","z":"8555e392.3f172","name":"Gas_gauge","group":"52edfda4.310304","order":3,"width":"3","height":"2","gtype":"wave","title":"Gas, m3","label":"m3","format":"{{value}}","min":0,"max":"10","colors":["#0080ff","#008080","#008080"],"x":913.8636474609375,"y":1093.7359619140625,"wires":[]},{"id":"93e17d15.343b4","type":"ui_gauge","z":"8555e392.3f172","name":"Water_gauge","group":"52edfda4.310304","order":2,"width":"3","height":"2","gtype":"wave","title":"Water, L","label":"litres","format":"{{value}}","min":0,"max":"2000","colors":["#0080ff","#008080","#008080"],"x":925.1943359375,"y":627.7435302734375,"wires":[]},{"id":"b743f1d0.333e1","type":"function","z":"8555e392.3f172","name":"Temperature","func":"global.set(\"temperature\", msg.payload);\n","outputs":1,"noerr":0,"x":432.1666564941406,"y":56.271270751953125,"wires":[[]]},{"id":"32e53b40.0a7a94","type":"ui_chart","z":"8555e392.3f172","name":"chart T","group":"7463a992.912048","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"16","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#00ae00","#aec7e8","#ff7f0e","#0080ff","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":899.75,"y":95.75,"wires":[[],[]]},{"id":"78cdddd0.63d444","type":"ui_gauge","z":"8555e392.3f172","name":"Electricity Instant","group":"c9d8807d.53653","order":5,"width":0,"height":0,"gtype":"gage","title":"Instant","label":"kW/h","format":"{{value}}","min":0,"max":"4","colors":["#ff8800","#e68600","#fa3a00"],"x":929.2499885559082,"y":225.4999941587448,"wires":[]},{"id":"d01204e9.4c6598","type":"ui_gauge","z":"8555e392.3f172","name":"Electricity Today","group":"52edfda4.310304","order":5,"width":"3","height":"3","gtype":"gage","title":"Electricity Today","label":"kW","format":"{{value}}","min":0,"max":"14","colors":["#ff8800","#e68600","#fa3a00"],"x":923.7500152587891,"y":451.7500066757202,"wires":[]},{"id":"e203f927.e7dc38","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":2,"width":0,"height":0,"name":"Water_txt","label":"Water","format":"{{msg.payload}} <font color=gray>Litres</font>","layout":"row-spread","x":907.75,"y":536.25,"wires":[]},{"id":"1acfd67d.88526a","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":3,"width":0,"height":0,"name":"Gas_txt","label":"Gas","format":"{{msg.payload}} <font color=gray>m&sup3;</font>","layout":"row-spread","x":904.5,"y":1003,"wires":[]},{"id":"af73bdca.d179","type":"ui_text","z":"8555e392.3f172","group":"7463a992.912048","order":1,"width":0,"height":0,"name":"Trend Temperature","label":"Temperature","format":"{{msg.payload | number:2}} <font color=gray>&deg;C</font>","layout":"row-spread","x":928.7500152587891,"y":47.25,"wires":[]},{"id":"819503f5.2541b","type":"ui_text","z":"8555e392.3f172","group":"3d5ca93b.8862a6","order":1,"width":0,"height":0,"name":"Trend Electricity","label":"Electricity","format":"{{msg.payload}} <font color=gray>kW/h</font>","layout":"row-spread","x":919.4999885559082,"y":177.4999941587448,"wires":[]},{"id":"b6476400.b52ca8","type":"ui_chart","z":"8555e392.3f172","name":"chart E","group":"3d5ca93b.8862a6","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff8000","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":902.75,"y":320.25,"wires":[[],[]]},{"id":"56534c48.9f5f54","type":"ui_chart","z":"8555e392.3f172","name":"chart W","group":"be496776.65b0f8","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#0080ff","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":905.75,"y":673.25,"wires":[[],[]]},{"id":"a0ba6f94.f64e2","type":"ui_chart","z":"8555e392.3f172","name":"chart G","group":"2b391743.551808","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#20dfd6","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":905.5,"y":1139,"wires":[[],[]]},{"id":"58e474c6.faf21c","type":"ui_text","z":"8555e392.3f172","group":"2b391743.551808","order":1,"width":0,"height":0,"name":"Trend Gas","label":"Gas","format":"{{msg.payload}} <font color=gray>m&sup3;</font>","layout":"row-spread","x":914.5,"y":1050,"wires":[]},{"id":"d8f10102.9f629","type":"ui_text","z":"8555e392.3f172","group":"be496776.65b0f8","order":1,"width":"0","height":"0","name":"Trend Water","label":"Water","format":"{{msg.payload}} <font color=gray>Litres</font>","layout":"row-spread","x":915.75,"y":580.25,"wires":[]},{"id":"17d6baa8.f2ed35","type":"function","z":"8555e392.3f172","name":"Electricity Eur","func":"// Price per kW/h = 0.24 eur\nvar electricity_eur = (msg.payload * 0.24).toFixed(2);\nglobal.set(\"electricity_eur\", electricity_eur);\nmsg.payload = electricity_eur;\nreturn msg;\n","outputs":1,"noerr":0,"x":753.2500076293945,"y":787.2500114440918,"wires":[["ec6ac45d.41dbc8","fe2a8891.5e65a8","671a30d4.f412b"]]},{"id":"bbfe9109.a12ca","type":"function","z":"8555e392.3f172","name":"Water Eur","func":"// Price per litre = 0.0011 eur\nvar water_eur = (msg.payload * 0.0011).toFixed(2);\nglobal.set(\"water_eur\", water_eur);\nmsg.payload = water_eur;\nreturn msg;\n","outputs":1,"noerr":0,"x":737.2500076293945,"y":849.2500114440918,"wires":[["ec6ac45d.41dbc8","fe2a8891.5e65a8","671a30d4.f412b"]]},{"id":"e0c44a2.b129bb8","type":"function","z":"8555e392.3f172","name":"Gas Eur","func":"// Price per m3 = 0.80025 eur\nvar gas_eur = msg.payload = (msg.payload * 0.80025).toFixed(2);\nglobal.set(\"gas_eur\", gas_eur);\nmsg.payload = gas_eur;\nreturn msg;\n","outputs":1,"noerr":0,"x":736.25,"y":907.25,"wires":[["ec6ac45d.41dbc8","fe2a8891.5e65a8","671a30d4.f412b"]]},{"id":"ec6ac45d.41dbc8","type":"ui_chart","z":"8555e392.3f172","name":"Pie Euro","group":"702d7369.3322dc","order":4,"width":"0","height":"0","label":"","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff8000","#0080ff","#20dfd6","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1166.25,"y":848.25,"wires":[[],[]]},{"id":"fe2a8891.5e65a8","type":"function","z":"8555e392.3f172","name":"Euro today","func":"// The links to this node are to trigger calculation\n\n// initialise vars to 0 if do not exist already\nvar electricity_eur = parseFloat(global.get('electricity_eur')||0);\nvar water_eur = parseFloat(global.get('water_eur')||0);\nvar gas_eur = parseFloat(global.get('gas_eur')||0);\n\nmsg.payload = electricity_eur + water_eur + gas_eur;\n//var newMsg = { payload: \"E:\" + electricity_eur + \"€\" + \"    W:\" + water_eur + \"€    G:\" + gas_eur + \"€\" };\nvar newMsg = { \"E\": electricity_eur, \"W\": water_eur, \"G\": gas_eur};\nreturn [msg, newMsg];\n","outputs":"2","noerr":0,"x":1175.75,"y":787.25,"wires":[["f6862ae2.ba9578","51da65f6.2c2dbc","8039449.70d9db8"],["fb959e8c.857fd"]]},{"id":"f6862ae2.ba9578","type":"ui_text","z":"8555e392.3f172","group":"702d7369.3322dc","order":5,"width":0,"height":0,"name":"Euro today","label":"Total: ","format":"{{msg.payload.toFixed(2)}} &euro;","layout":"row-center","x":1390.75,"y":756.75,"wires":[]},{"id":"84920b34.1d4bc8","type":"function","z":"8555e392.3f172","name":"Electricity kwh today","func":"// initialise vars to 0 if doesn't exist already\nvar electricity_kwh = parseFloat(global.get('electricity_kwh')||0);\nelectricity_kwh += 0.001; // 1 impulse = 1 watt\n\nif( msg.payload == \"Reset\" )\n{\n    electricity_kwh = 0.0;\n    msg.topic = \"power_meter/electricity\";\n}\n\nglobal.set(\"electricity_kwh\", electricity_kwh);\nmsg.payload = electricity_kwh.toFixed(3);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":507.5,"y":429.5,"wires":[["17d6baa8.f2ed35","d01204e9.4c6598","1d4e22dc.b533dd"]]},{"id":"d09d2412.238458","type":"function","z":"8555e392.3f172","name":"Temp, Date and Time","func":"function addZero(x, n) {\n    while (x.toString().length < n) { x = \"0\" + x; }\n    return x;\n}\n\nvar dt = new Date();\n\nvar h = addZero(dt.getHours(), 2);\nvar m = addZero(dt.getMinutes(), 2);\nvar s = addZero(dt.getSeconds(), 2);\n\nvar temp = parseFloat(global.get('temperature')||0);\n\nstr = \"<font color=gray>\" + dt.toDateString() + \" |  </font>\" + h + \":\" + m;\n\n//str = \"<font color=#008300>\" + dt.toDateString() + \" |  </font>\" + h + \":\" + m;\n//msg.payload = dt.toDateString() + \" |  \" + h + \":\" + m;\n\nmsg.payload = str;\nmsg.temperature = temp;\nreturn [msg, msg, msg];\n","outputs":"3","noerr":0,"x":463.25006103515625,"y":1323,"wires":[["20563228.5cbe3e"],["acd898f9.bd9328"],["de520b48.5039b8"]]},{"id":"fc6badec.364fc","type":"inject","z":"8555e392.3f172","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":138.25001525878906,"y":1322,"wires":[["d09d2412.238458"]]},{"id":"20563228.5cbe3e","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":1,"width":0,"height":0,"name":"DTime 1","label":"{{msg.temperature.toFixed(2)}} <font color=lightgray>&deg;C</font>","format":"{{msg.payload}}","layout":"row-spread","x":742.2500610351562,"y":1274,"wires":[]},{"id":"acd898f9.bd9328","type":"ui_text","z":"8555e392.3f172","group":"52edfda4.310304","order":1,"width":0,"height":0,"name":"DTime 2","label":"{{msg.temperature.toFixed(2)}} &deg;C","format":"{{msg.payload}}","layout":"row-spread","x":740.2500495910645,"y":1321.0000162124634,"wires":[]},{"id":"671a30d4.f412b","type":"ui_chart","z":"8555e392.3f172","name":"Euro chart","group":"702d7369.3322dc","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff8000","#0080ff","#20dfd6","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1175,"y":904.5,"wires":[[],[]]},{"id":"fb959e8c.857fd","type":"ui_text","z":"8555e392.3f172","group":"702d7369.3322dc","order":3,"width":0,"height":0,"name":"Euro split","label":"","format":"<font color=#ff8000>E: </font>{{msg.E}} &euro;&nbsp;&nbsp;&nbsp; <font color=#0080ff>W: </font>{{msg.W}}  &euro;&nbsp;&nbsp;&nbsp; <font color=#20dfd6>G:</font> {{msg.G}}  &euro;","layout":"row-center","x":1386,"y":906.75,"wires":[]},{"id":"3bd33106.c2937e","type":"ui_gauge","z":"8555e392.3f172","name":"Electricity Instant 1","group":"52edfda4.310304","order":4,"width":"3","height":"3","gtype":"gage","title":"Electricity","label":"kW/h","format":"{{value}}","min":0,"max":"4","colors":["#ff8800","#e68600","#fa3a00"],"x":930.2499885559082,"y":269.9999941587448,"wires":[]},{"id":"51da65f6.2c2dbc","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":6,"width":0,"height":0,"name":"Euro today 1","label":"Total cost","format":"{{msg.payload.toFixed(2)}} <font color=gray>&euro;</font>","layout":"row-spread","x":1394.5,"y":809.25,"wires":[]},{"id":"1d4e22dc.b533dd","type":"ui_text","z":"8555e392.3f172","group":"c9d8807d.53653","order":4,"width":0,"height":0,"name":"Electricity today txt","label":"Electricity","format":"{{msg.payload}} <font color=gray>kW</font>","layout":"row-spread","x":932.7500152587891,"y":403.25000762939453,"wires":[]},{"id":"de520b48.5039b8","type":"ui_text","z":"8555e392.3f172","group":"702d7369.3322dc","order":1,"width":0,"height":0,"name":"DTime 3","label":"{{msg.temperature.toFixed(2)}} <font color=lightgray>&deg;C</font>","format":"{{msg.payload}}","layout":"row-spread","x":743.2500190734863,"y":1370.0000162124634,"wires":[]},{"id":"8039449.70d9db8","type":"ui_text","z":"8555e392.3f172","group":"52edfda4.310304","order":6,"width":0,"height":0,"name":"Euro today 2","label":"Total cost","format":"{{msg.payload.toFixed(2)}} <font color=gray>&euro;</font>","layout":"row-spread","x":1393.25,"y":857.5,"wires":[]},{"id":"b5d6c68f.148b98","type":"ui_template","z":"8555e392.3f172","group":"d0d8726.cc6859","name":"weather","order":7,"width":"0","height":"0","format":"<iframe name=\"forecast_embed_valkenburg\" style=\"background: #c0c0c0;\" id=\"forecast_embed_valkenburg\" type=\"text/html\" frameborder=\"0\" height=\"245\" width=\"100%\" src=\"http://forecast.io/embed/#lat=52.182267&lon=4.429516&name=Valkenburg (ZH)&color=#e0e0e0&font=Georgia&units=si\"> </iframe>","storeOutMessages":false,"fwdInMessages":false,"x":423.25,"y":1179,"wires":[[]]},{"id":"67bfdb3f.58b234","type":"inject","z":"8555e392.3f172","name":"trigger 1","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":139.25,"y":1178,"wires":[["b5d6c68f.148b98"]]},{"id":"f6e431b4.c7f52","type":"mqtt in","z":"8555e392.3f172","name":"Electricity","topic":"power_meter/electricity","qos":"2","broker":"dffc2a07.6d2f28","x":142,"y":379,"wires":[["9181f320.83501"]]},{"id":"7f31e5c3.384d8c","type":"mqtt in","z":"8555e392.3f172","name":"Temperature","topic":"power_meter/temperature","qos":"2","broker":"dffc2a07.6d2f28","x":153,"y":115,"wires":[["af73bdca.d179","32e53b40.0a7a94","b743f1d0.333e1"]]},{"id":"9181f320.83501","type":"function","z":"8555e392.3f172","name":"Electricity","func":"msg.payload = (3.6/parseFloat(msg.payload)).toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":261,"wires":[["84920b34.1d4bc8","819503f5.2541b","78cdddd0.63d444","3bd33106.c2937e","b6476400.b52ca8"]]},{"id":"b8d5ebe7.1b8cf8","type":"inject","z":"8555e392.3f172","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 00 * * *","once":false,"x":138,"y":658,"wires":[["acd61ad2.2b4d98"]]},{"id":"acd61ad2.2b4d98","type":"function","z":"8555e392.3f172","name":"Reset variables","func":"msg.payload = \"Reset\";\nreturn msg;","outputs":1,"noerr":0,"x":176,"y":771,"wires":[["2d20cd7.f78a832","1a26d0d8.d9f82f","84920b34.1d4bc8"]]},{"id":"1a26d0d8.d9f82f","type":"function","z":"8555e392.3f172","name":"Water ltr today","func":"// initialise vars to 0 if doesn't exist already\nvar water_ltr = parseInt(global.get('water_ltr')||0);\nwater_ltr += 1; // 1 impulse = 1 litre\n\nif( msg.payload == \"Reset\" )\n{\n    water_ltr = 0;\n    msg.topic = \"power_meter/water\";\n}\n\nglobal.set(\"water_ltr\", water_ltr);\nmsg.payload = water_ltr;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":442,"y":562,"wires":[["bbfe9109.a12ca","e203f927.e7dc38","d8f10102.9f629","93e17d15.343b4","56534c48.9f5f54"]]},{"id":"2d20cd7.f78a832","type":"function","z":"8555e392.3f172","name":"Gas m3 today","func":"// initialise vars to 0 if doesn't exist already\nvar gas_m3 = parseFloat(global.get('gas_m3')||0);\ngas_m3 += 0.01; // 1 impulse = 10 litre\n\nif( msg.payload == \"Reset\" )\n{\n    gas_m3 = 0.0;\n    msg.topic = \"power_meter/gas\";\n}\n\nglobal.set(\"gas_m3\", gas_m3);\nmsg.payload = gas_m3.toFixed(2);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":443,"y":1004,"wires":[["e0c44a2.b129bb8","1acfd67d.88526a","58e474c6.faf21c","73df801.94f298","a0ba6f94.f64e2"]]},{"id":"5e560f69.e6d86","type":"mqtt in","z":"8555e392.3f172","name":"Water","topic":"power_meter/water","qos":"2","broker":"dffc2a07.6d2f28","x":133,"y":560,"wires":[["1a26d0d8.d9f82f"]]},{"id":"bc8b5cbb.a1719","type":"mqtt in","z":"8555e392.3f172","name":"Gas","topic":"power_meter/gas","qos":"2","broker":"dffc2a07.6d2f28","x":127,"y":1001,"wires":[["2d20cd7.f78a832"]]},{"id":"52edfda4.310304","type":"ui_group","z":"","name":"Today","tab":"a2886a19.df6088","order":1,"disp":false,"width":"6"},{"id":"7463a992.912048","type":"ui_group","z":"","name":"Temperature","tab":"ed40e1c2.a534f","order":2,"disp":false,"width":"6"},{"id":"c9d8807d.53653","type":"ui_group","z":"","name":"info","tab":"91113825.71eb68","order":1,"disp":false,"width":"6"},{"id":"3d5ca93b.8862a6","type":"ui_group","z":"","name":"Electricity","tab":"ed40e1c2.a534f","order":3,"disp":false,"width":"6"},{"id":"be496776.65b0f8","type":"ui_group","z":"","name":"Water","tab":"ed40e1c2.a534f","order":4,"disp":false,"width":"6"},{"id":"2b391743.551808","type":"ui_group","z":"","name":"Gas","tab":"ed40e1c2.a534f","order":5,"disp":false,"width":"6"},{"id":"702d7369.3322dc","type":"ui_group","z":"","name":"Euro","tab":"710ec233.83203c","order":1,"disp":false,"width":"6"},{"id":"d0d8726.cc6859","type":"ui_group","z":"","name":"Weather 1","tab":"b3cb8fe2.11beb","order":1,"disp":false,"width":"12"},{"id":"dffc2a07.6d2f28","type":"mqtt-broker","z":"","broker":"192.168.2.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"a2886a19.df6088","type":"ui_tab","z":"","name":"Today","icon":"dashboard","order":2},{"id":"ed40e1c2.a534f","type":"ui_tab","z":"","name":"Trend","icon":"dashboard","order":4},{"id":"91113825.71eb68","type":"ui_tab","z":"","name":"Power Meter","icon":"dashboard","order":1},{"id":"710ec233.83203c","type":"ui_tab","z":"","name":"Euro","icon":"dashboard","order":3},{"id":"b3cb8fe2.11beb","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","order":5}]
